<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message Board</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments :: navigation}"></div>

<main class="content-container">

<div class="form-container">
    <h1>Opret en bruger</h1>
<form th:action="@{/createUser}" method="post">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Skriv dit brugernavn" th:value="${usernameValue}" required>

    <p class="errorLabel" th:if="${errorUserName != null}" th:text="${errorUserName}"></p>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Skriv din email" th:value="${emailValue}" required>
    <p class="errorLabel" th:if="${errorEmail != null}" th:text="${errorEmail}"></p>

    <label for="password1">Password:</label>
    <input type="password" id="password1" name="password1" placeholder="Skriv dit password" required>
    <input type="password" id="password2" name="password2" placeholder="Gentag dit password" required>

    <p class="errorLabel" th:if="${errorPassword != null}" th:text="${errorPassword}"></p>

    <button type="submit">Create User</button>
</form>
    <a class="bottom-link" th:href="@{/}">Back to Home</a>
</div>




</main>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>