<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- Header image bar Fragment -->

<header th:fragment="navigation">
    <div class="header-bar">
        <!-- Logo -->
        <div class="header-logo">
            <a th:href="@{/messages}">
                <img th:src="@{/images/logo.png}" alt="Debato Logo">
            </a>
        </div>

        <!-- Navigation -->
        <nav class="navbar">
            <!-- Hvis bruger er logget ind -->
            <div th:if="${session.currentUser != null}">
                <a th:href="@{/messages}" class="nav-link">Message Board</a>
                <a th:href="@{/createPost}" class="nav-link">Skab indhold</a>
                <span class="username" th:text="${session.currentUser.userName}">Username</span>
                <a th:href="@{/logout}" class="nav-link logout">Logout</a>
            </div>

            <!-- Hvis bruger IKKE er logget ind -->
            <div th:if="${session.currentUser == null}">
                <a th:href="@{/}" class="nav-link">Login</a>
                <a th:href="@{/createUser}" class="nav-link">Opret bruger</a>
            </div>
        </nav>
    </div>
</header>

<!-- footer -->



</body>
</html>