<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DelSam</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments :: navigation}"></div>
<h1>Velkommen til Debato</h1>
<form th:action="@{/login}" method="post">
    <h3>Log ind, eller opret en bruger, for at deltage i debatten</h3>
    <label for="username">Brugernavn</label><br>
    <input type="text" id="username" name="username" placeholder="Enter username">
    <br><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="Enter password">
    <br><br>

    <button type="submit">Login</button>
    <br>

    <p class="errorLabel" th:text="${errorLogin}"></p>
</form>
<p class="succesLabel" th:text="${message}"></p>


<br>
<a th:href="@{/createUser}">Create new account</a>

<div th:if="${session.currentUser != null}">
    <span th:text="${session.currentUser.userName}"> | </span>
    <a href="index.html" th:href="@{/logout}">Logout</a>
</div>
</body>
</html>