<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message Board</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments :: navigation}"></div>

<h1 th:text="${welcomemessage}">Message Board</h1>


<div th:if="${messages != null and !messages.isEmpty()}">
    <div th:each="post : ${messages}">

        <a th:href="@{/post/{id}(id=${post.postId})}">
            <h3 th:text="${post.title}">Post Title</h3>
        </a>

        <p th:text="${post.message}">Post content</p>
        <small>Posted by: <span th:text="${post.authorName}">Author</span></small>
        <small th:text="${post.getRelativeTime}">timestamp</small>

        <form th:action="@{/upvote/{id}(id=${post.postId})}" method="post">
            <button type="submit">
                <img src="../public/images/like.svg" th:src="@{/images/like.svg}" alt="likebutton">
                <span th:text="${post.upvoteCount}"></span>
            </button>
        </form>
        <p th:text="${errorUpvote}"></p>

        <a th:href="@{/post/{id}(id=${post.postId})}" class="comment-button">
            <img src="../public/images/comment.svg" th:src="@{/images/comment.svg}" alt="comment">
            <span th:text="${post.commentCount}"></span>
        </a>

        <hr>
    </div>
</div>

<div th:if="${messages == null or messages.isEmpty()}">
    <p>Ingen posts endnu. <a th:href="@{/createPost}">Opret den første!</a></p>
</div>

</body>
</html>